* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dividers);
  // organizes the nav/content/footer
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

// CUSTUM VARIABLES
:root {
  --main-app-color: #005a87;
  --sidebar-color: #005a87f3;
  --header-color: #005a87d2;
  --dividers: rgb(246, 246, 242);
}

// used in pages other than the main page
.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dividers);
  // margin-bottom: 6rem;
}

////////////// MOBILE FIRST GRID ////////////
////////////// NAV ////////////////////////
.grid {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'header-area header-area header-area header-area'
    'main-area   main-area   main-area   main-area';
  background-color: var(--dividers);
}

////////////////// SHOWCASE/HEADER //////////////////
#showcase {
  grid-area: header-area;
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    '. . . .'
    'fill-left container-showcase container-showcase fill-right';
  text-align: center;
  height: 28.5rem;
  line-height: 1.5;
  margin-top: 4.5rem;

  .fill-sides-content-left {
    grid-area: fill-left;
    z-index: 1;
    background: var(--header-color);
    border-top: 0.2em solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.3);
  }

  .fill-sides-content-right {
    grid-area: fill-right;
    z-index: 1;
    background: var(--header-color);
    border-top: 0.2em solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.3);
  }

  .container-showcase-content {
    grid-area: container-showcase;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .showcase-container {
    display: flex;
    top: 4em;
    justify-content: center;
    position: absolute;
    width: 100%;
  }

  .showcase-background-image {
    height: 29rem;
    background: url('../assets/header-cooks.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70rem;
  }

  .showcase-content {
    background: var(--header-color);
    color: white;
    padding: 1.5rem 2rem 1.5rem 2rem;
    width: 100%;
    height: 100%;
    border-top: 0.2em solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.3);
    z-index: 1;

    h1 {
      margin-bottom: 0.5rem;
      opacity: 1;
      font-size: 1.5rem;
      color: white;
    }

    i {
      color: rgb(60, 177, 31);
    }

    p {
      font-size: 1.1em;
    }
  }
}

///////////////////// MAIN START//////////////////////
main {
  margin-bottom: 1rem;
  grid-area: main-area;
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  grid-template-areas:
    '.      sect-a sect-a .'
    'sect-b sect-b sect-b sect-b'
    '.      sect-c sect-c .';
  line-height: 1.5;
  text-align: center;
  background: var(--main-app-color);

  // MAIN SECTION-A
  #section-a {
    grid-area: sect-a;
    color: white;
    padding: 3rem 2rem;

    p {
      padding-top: 1.5rem;
    }
  }

  // MAIN SECTION-B
  #section-b {
    grid-area: sect-b;
    background: var(--dividers);

    ul {
      padding-top: 1em;
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 15em)) 1fr;
      grid-template-areas:
        '. card1 card1 .'
        '. card2 card2 .'
        '. card3 card3 .';
      margin-top: 1.5rem;
      list-style: none;

      li {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 1.5rem 1.5rem 1.5rem;
        box-shadow: -1px 6px 5px -2px rgba(0, 0, 0, 0.75);
        background: var(--main-app-color);
        color: white;
        border-radius: 20px 20px 15px 15px;

        .card-content {
          padding: 1.5rem;

          p {
            margin-top: 1rem;
          }
        }

        img {
          height: 14rem;
          width: 100%;
          border-radius: 15px 15px 0 0;
        }
      }

      li:nth-child(1) {
        grid-area: card1;
      }
      li:nth-child(2) {
        grid-area: card2;
      }
      li:nth-child(3) {
        grid-area: card3;
      }
    }
  }

  // Section-C
  #section-c {
    grid-area: sect-c;
    color: black;
    padding: 1rem 2rem;
    background-color: var(--dividers);
    border: 15px solid var(--dividers);

    p {
      padding-top: 1.5rem;
    }
  }
}

// TABLET
@media screen and (min-width: 650px) and (max-width: 1024px) {
  main {
    #section-b {
      ul {
        grid-template-areas:
          'card1 card1 card2 card2'
          'card3 card3 card3 card3';

        li:nth-child(3) {
          grid-area: card3;

          img {
            width: 50%;
            border-radius: 15px 0 0 15px;
          }

          .card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
          }
        }
      }
    }
  }
}

//////////////////// DESKTOP //////////////////
@media screen and (min-width: 1025px) {
  main {
    #section-b {
      ul {
        grid-template-columns: 1fr repeat(3, minmax(auto, 30em)) 1fr;
        grid-template-areas: '. card1 card2 card3 .';
      }
    }
  }

  #showcase {
    .showcase-container {
      top: 5.5em;
    }
    .showcase-background-image {
      height: 27.5rem;
      top: 5.5rem;
    }
  }
}

//////////////////// BUTTONS //////////////////
.content-text {
  padding-top: 0.75em;
}
a.buttonLinks {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

a.buttonLinks:hover {
  color: #000000;
  background-color: #ffffff;
}

a.buttonLinks2 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #080808;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  background-color: rgb(148, 226, 148);
}

a.buttonLinks2:hover {
  color: white;
  background-color: rgb(148, 226, 148);
}
