.buttonLinks3 {
  border: 3px var(--main-app-color) solid;
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0 0 0;
  border-radius: 6px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  transition: all 0.2s;
  background-color: var(--main-app-color);
  padding-right: 7px;
  padding-left: 7px;
}

.buttonLinks3:hover {
  color: white;
  background-color: var(--main-app-color2);
  border: 3px var(--main-app-color) solid;
}

.buttonLinks3:active {
  color: white;
  background-color: var(--main-app-color2);
  border: 3px var(--main-app-color) solid;
}

.dashboard-btns {
  width: 9rem;
  text-align: center;
}

.dashboard-btnGroup {
  border-radius: 12px 12px 0px 0px;
  background-color: rgb(238, 238, 238);
  padding: 1rem;
}

.dashboard-links {
  .dashboard-btns {
    width: 12rem;
    text-align: center;
  }
  ul {
    // text-align: center;
    width: 12rem;
  }
  hr {
    margin: 0px;
  }
}

// overwrite the bootstrap dropdown button focus.
.dropdown-toggle:focus {
  background-color: var(--main-app-color2);
}

// For button groups. 2 buttons per row
div.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  :first-child {
    margin-right: 20px;
  }
}

// buttons geoups no space/FILTERS GROUP
div.buttonGroupFiltersContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.buttonGroupFilters {
  display: flex;
  .buttonLinks3 {
    border-radius: 0px;
    padding: 0.2rem 0.2rem;
    button:nth-child(1) {
      border-radius: 12px 0px 0px 12px;
    }
  }

  button:active,
  button:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
    box-shadow: none;
    border: 3px var(--main-app-color) solid;
  }

  .buttonLinks3:first-child {
    border-radius: 12px 0px 0px 0px;
  }

  .buttonLinks3:last-child {
    border-radius: 0px 12px 0px 0px;
  }
}

a.buttonLinks {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid white;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  background-color: white;
}

a.buttonLinks:hover {
  // border: 0.1em solid #ffffff;
  color: white;
  background-color: var(--main-app-color);
}

a.buttonLinks2 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #080808;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  background-color: rgb(148, 226, 148);
}

a.buttonLinks2:hover {
  color: white;
  background-color: rgb(148, 226, 148);
}

a.buttonLinks2:active {
  color: white;
  background-color: rgb(148, 226, 148);
}

// Delete button
.buttonLinksWarning {
  border: none;
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0 0 0;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  transition: all 0.2s;
  background-color: rgb(211, 28, 28);
  padding-right: 7px;
  padding-left: 7px;
}

.buttonLinksWarning:hover {
  color: white;
  background-color: rgb(161, 27, 27);
}

.buttonLinksWarning:active {
  color: white;
  background-color: rgb(161, 27, 27);
}

// input fields
.inputText {
  float: right;
  width: 7rem;
  // padding-left: 0.3rem;
  margin-left: 1rem;
  option {
    text-align: center;
  }
}

@media screen and (min-width: 500px) {
  .inputText {
    width: 10rem;
  }
}

// gives the table select buttons a uniform width
.tableSelect {
  width: 6rem;
}

// quick fix for centering the hint boxes
.hint-boxesCentering {
  display: flex;
  justify-content: center;
}

.HRstyle {
  width: 100%;
}

.formUserInfo {
  width: 17rem;
}

.hint-boxes {
  display: flex;
  background-color: var(--main-app-color);
  color: white;
  // text-align: center;
  border-radius: 12px;
  width: 15rem;
  padding: 1rem;
  p {
    margin-bottom: 0px;
  }
}

.info-card {
  width: 100%;
  border-radius: 12px;
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  color: black;
  hr {
    margin: 0.5rem 0px 0.5rem 0px;
  }
  p {
    margin-bottom: 0px;
    display: inline;
  }
  span {
    display: block;
    float: right;
    margin-left: 1rem;
  }
}

.info-card2 {
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
  padding: 0.5rem 1rem;
  color: black;
  width: 17rem;
  p {
    margin: 0px 0px 0px 0px;
  }
  hr {
    margin: 0.5rem 0px 0.5rem 0px;
    border-color: var(--main-app-color);
  }
}

.info-card2:first-child {
  border-bottom: none;
}
.info-card2:nth-child(2) {
  border-top: none;
  // border-bottom: none;
  // border-color: red;
}

.info-cardTips {
  background-color: #005a87;
  color: white;
  padding: 0.5rem;
  border-radius: 12px;
  text-align: center;
  p {
    margin-bottom: 0px;
  }
}

form {
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  border-radius: 12px;
}

.formTable {
  padding: 0px 0px 1rem 0px;
}

form.emailWaitlistForm {
  width: 100%;
}

form.moveReservationTable {
  width: 100%;
  .table-container {
    width: 100%;
  }
}

.btnGroupMoveReservation {
  width: 100%;
}

@media screen and (min-width: 499px) {
  .btnGroupMoveReservation {
    width: 25rem;
  }

  form {
    width: 23rem;
  }

  .formUserInfo {
    width: 23rem;
  }

  form.emailWaitlistForm {
    width: 27rem;

    .table-container {
      width: 100%;
    }
  }

  .hint-boxes {
    width: 21rem;
  }
  .HRstyle {
    width: 100%;
  }
  .info-card2 {
    width: 21rem;
  }
}

.hideSection {
  display: none;
}

.showSection {
  display: block;
}

.sectionFilterActive {
  background-color: white;
  border: 3px var(--main-app-color) solid;
  color: var(--main-app-color);
  // var(--main-app-color)
  // background-color: rgb(148, 226, 148);
}

.sectionFilterActive:hover {
  color: white;
  background-color: var(--main-app-color2);
}

.sectionFilterActive:focus {
  color: var(--main-app-color);
  background-color: white;
}

.buttonLinksTables {
  border: none;
  display: inline-block;
  padding: 0.35em 7px;
  // margin: 0 0 0 0;
  border-radius: 6px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  // text-align: center;
  transition: all 0.2s;
  background-color: var(--main-app-color);
  // padding-right: 7px;
  // padding-left: 7px;
  // width: 9rem;
  // text-align: center;
}

.buttonLinksTables:hover {
  background-color: var(--main-app-color2);
}

.buttonLinksTables:active {
  background-color: var(--main-app-color2);
}

@media screen and (min-width: 1025px) {
  .HRstyle {
    width: 70%;
  }
  div.buttonGroupFiltersContainer {
    width: 70%;
  }

  .dashboard-btnGroup {
    // border-radius: 12px;
    // background-color: rgb(238, 238, 238);
    // padding: 1rem;
    width: 68.5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
