.buttonLinks3 {
  border: 3px var(--main-app-color) solid;
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0 0 0;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: var(--main-app-color);
  padding-right: 7px;
  padding-left: 7px;
}

.buttonLinks3:hover {
  color: white;
  background-color: var(--main-app-color2);
  border: 3px var(--main-app-color) solid;
}

.buttonLinks3:active {
  color: white;
  background-color: var(--main-app-color2);
  border: 3px var(--main-app-color) solid;
}

.dashboard-btns {
  width: 9rem;
  text-align: center;
}

.dashboard-btnGroup {
  border-radius: 12px 12px 0px 0px;
  background-color: #eeeeee;
  padding: 1rem;
}

.dashboard-links .dashboard-btns {
  width: 12rem;
  text-align: center;
}

.dashboard-links ul {
  width: 12rem;
}

.dashboard-links hr {
  margin: 0px;
}

.dropdown-toggle:focus {
  background-color: var(--main-app-color2);
}

div.buttonGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

div.buttonGroup :first-child {
  margin-right: 20px;
}

div.buttonGroupFiltersContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.buttonGroupFilters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.buttonGroupFilters .buttonLinks3 {
  border-radius: 0px;
  padding: 0.2rem 0.2rem;
}

div.buttonGroupFilters .buttonLinks3 button:nth-child(1) {
  border-radius: 12px 0px 0px 12px;
}

div.buttonGroupFilters button:active,
div.buttonGroupFilters button:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 3px var(--main-app-color) solid;
}

div.buttonGroupFilters .buttonLinks3:first-child {
  border-radius: 12px 0px 0px 0px;
}

div.buttonGroupFilters .buttonLinks3:last-child {
  border-radius: 0px 12px 0px 0px;
}

a.buttonLinks {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid white;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: white;
}

a.buttonLinks:hover {
  color: white;
  background-color: var(--main-app-color);
}

a.buttonLinks2 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #080808;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #94e294;
}

a.buttonLinks2:hover {
  color: white;
  background-color: #94e294;
}

a.buttonLinks2:active {
  color: white;
  background-color: #94e294;
}

.buttonLinksWarning {
  border: none;
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0 0 0;
  border-radius: 0.3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #d31c1c;
  padding-right: 7px;
  padding-left: 7px;
}

.buttonLinksWarning:hover {
  color: white;
  background-color: #a11b1b;
}

.buttonLinksWarning:active {
  color: white;
  background-color: #a11b1b;
}

.inputText {
  float: right;
  width: 7rem;
  margin-left: 1rem;
}

.inputText option {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .inputText {
    width: 10rem;
  }
}

.tableSelect {
  width: 6rem;
}

.hint-boxesCentering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HRstyle {
  width: 100%;
}

.formUserInfo {
  width: 17rem;
}

.hint-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--main-app-color);
  color: white;
  border-radius: 12px;
  width: 15rem;
  padding: 1rem;
}

.hint-boxes p {
  margin-bottom: 0px;
}

.info-card {
  width: 100%;
  border-radius: 12px;
  background-color: #eeeeee;
  padding: 1rem;
  color: black;
}

.info-card hr {
  margin: 0.5rem 0px 0.5rem 0px;
}

.info-card p {
  margin-bottom: 0px;
  display: inline;
}

.info-card span {
  display: block;
  float: right;
  margin-left: 1rem;
}

.info-card2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eeeeee;
  padding: 0.5rem 1rem;
  color: black;
  width: 17rem;
}

.info-card2 p {
  margin: 0px 0px 0px 0px;
}

.info-card2 hr {
  margin: 0.5rem 0px 0.5rem 0px;
  border-color: var(--main-app-color);
}

.info-card2:first-child {
  border-bottom: none;
}

.info-card2:nth-child(2) {
  border-top: none;
}

.info-cardTips {
  background-color: #005a87;
  color: white;
  padding: 0.5rem;
  border-radius: 12px;
  text-align: center;
}

.info-cardTips p {
  margin-bottom: 0px;
}

form {
  background-color: #eeeeee;
  padding: 1rem;
  border-radius: 12px;
}

form.login-form {
  border-radius: 0px 12px 12px 12px;
  width: 18rem;
}

form.login-form input {
  width: 9rem;
}

form.login-form input:not([type='submit']) {
  width: 8rem;
}

.login-choices-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18rem;
}

.login-choices-container .login-choices {
  padding: 0.5rem;
}

.login-choices-container .login-choices:nth-child(1):hover {
  border-radius: 12px 0px 0px 0px;
  background-color: #eeeeee;
}

.login-choices-container .login-choices:nth-child(2):hover {
  border-radius: 0px 12px 0px 0px;
  background-color: #eeeeee;
}

.login-choices-container .login-selected:nth-child(1) {
  border-radius: 12px 0px 0px 0px;
}

.login-choices-container .login-selected:nth-child(2) {
  border-radius: 0px 12px 0px 0px;
}

.login-choices-container .login-selected {
  background-color: #eeeeee;
}

.formTable {
  padding: 0px 0px 1rem 0px;
}

form.emailWaitlistForm {
  width: 100%;
}

form.moveReservationTable {
  width: 100%;
}

form.moveReservationTable .table-container {
  width: 100%;
}

.btnGroupMoveReservation {
  width: 100%;
}

@media screen and (min-width: 499px) {
  .btnGroupMoveReservation {
    width: 25rem;
  }
  form {
    width: 23rem;
  }
  .formUserInfo {
    width: 23rem;
  }
  form.emailWaitlistForm {
    width: 27rem;
  }
  form.emailWaitlistForm .table-container {
    width: 100%;
  }
  .hint-boxes {
    width: 21rem;
  }
  .HRstyle {
    width: 100%;
  }
  .info-card2 {
    width: 21rem;
  }
  form.login-form {
    width: 23rem;
  }
  form.login-form input:not([type='submit']) {
    width: 12rem;
  }
  .login-choices-container {
    width: 23rem;
  }
}

.hideSection {
  display: none;
}

.showSection {
  display: block;
}

.sectionFilterActive {
  background-color: white;
  border: 3px var(--main-app-color) solid;
  color: var(--main-app-color);
}

.sectionFilterActive:hover {
  color: white;
  background-color: var(--main-app-color2);
}

.sectionFilterActive:focus {
  color: var(--main-app-color);
  background-color: white;
}

.buttonLinksTables {
  border: none;
  display: inline-block;
  padding: 0.35em 7px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: var(--main-app-color);
}

.buttonLinksTables:hover {
  background-color: var(--main-app-color2);
}

.buttonLinksTables:active {
  background-color: var(--main-app-color2);
}

@media screen and (min-width: 1025px) {
  .HRstyle {
    width: 70%;
  }
  div.buttonGroupFiltersContainer {
    width: 70%;
  }
  .dashboard-btnGroup {
    width: 68.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=myButtons.css.map */