h1 {
  color: var(--main-app-color);
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 14px;
}

table {
  th {
    padding: 0.5em;
  }
  td {
    padding: 0.5em;
    font-weight: bold;
  }
}

@media screen and (min-width: 500px) {
  table,
  th,
  td {
    font-size: 15px;
  }
}
